<p style="color: green"><%= notice %></p>


<%= turbo_frame_tag "channel" do %>

  <h1><%= render @channel %></h1>

  <p>
    <%= link_to "Edit âœ", edit_channel_path(@channel) %> |
    <%= link_to "Back", channels_path, "data-turbo-frame": "_top" %>
  </p>
<% end %>

<div>
  <%= render @channel.messages %>
</div>

<%= turbo_frame_tag "new_message", src: new_channel_message_path(@channel), target: "_top" %>